# To prevent large files being stored the below should be
# rendered from the blend files. Later renders may be put on YouTube
# then linked via LFS.

# Video Files
*.mp4
*.avi

# Image files
*.png

# Blender physics cache files - again once assets are final they
# may be uploaded however for now not
*.bphys

# Ignore blender backup files
*.blend1*
*.blend2*
*.blend3*
*.blend4*
*.blend5*
*.blend6*
*.blend7*
*.blend8*
*.blend9*
